In [180]:
# Paso 1: Importamos librerías para análisis de datos y visualización
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import (HistGradientBoostingClassifier)

In [155]:
# Se lee el archivo .xlsx y se convierte en un DataFrame. Se omiten las primeras 4 filas.
df = pd.read_excel('Reporte_cronicos_ESE_Ago_2016.xlsx', sheet_name = 'BASE', skiprows=4)
df

c:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

,Unnamed: 0,Consecutivo,1,2,Fehca de Inscripcion,AÑO,Fecha Ultima Atención,IPS,1_PrimerNombre,2_SegundoNombre,...,35_TFG,36_RcbeIECA,37_RcbeARA2,38_DxERC,40_FechaDxERC,41_ProgramAteERC (NEFROPROTECCION),ENDOSALUD,79_Novedad,80_CausaMuerte,81_FechaMuerte
0,NaN,1,NaN,NaT,NaT,2014.0,2014-01-02,PS COMUNEROS I,AQUILINO,NONE,...,44.839956,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
1,NaN,2,NaN,NaT,NaT,2014.0,2014-01-02,PS CALIPSO,LUIS,EDUARDO,...,NaN,NO,NO,NaN,NaN,NaN,SI,NaN,NaN,NaN
2,NaN,3,NaN,NaT,NaT,2014.0,2014-01-02,PS CALIPSO,ZORAIDA,DE JESUS,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
3,NaN,4,NaN,NaT,NaT,2014.0,2014-01-07,CS VALLADO,JULIA,ALICIA,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
4,NaN,5,NaN,NaT,NaT,2014.0,2014-01-07,PS CALIPSO,MARIA,DEL SOCORRO,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25845,NaN,25850,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25846,NaN,25851,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25847,NaN,25852,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25848,NaN,25853,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25849,NaN,25854,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
# Revisamos la forma de nuestro DataFrame. Podemos ver que el número máximo del consecutivo es de 25,854. Sin embargo, por el 'shape' podemos ver que hay en realidad 25,850 registros (no necesariamente todos con información de pacientes).
df.shape

(25850, 71)

In [157]:
# Notamos que la primera columna del archivo se usa como un margen y no contiene datos, por lo que se elimina la primera columna del DataFrame.
df.drop(df.columns[0], axis=1, inplace=True)
df

,Consecutivo,1,2,Fehca de Inscripcion,AÑO,Fecha Ultima Atención,IPS,1_PrimerNombre,2_SegundoNombre,3_PrimerApellido,...,35_TFG,36_RcbeIECA,37_RcbeARA2,38_DxERC,40_FechaDxERC,41_ProgramAteERC (NEFROPROTECCION),ENDOSALUD,79_Novedad,80_CausaMuerte,81_FechaMuerte
0,1,NaN,NaT,NaT,2014.0,2014-01-02,PS COMUNEROS I,AQUILINO,NONE,MONDRAGON,...,44.839956,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
1,2,NaN,NaT,NaT,2014.0,2014-01-02,PS CALIPSO,LUIS,EDUARDO,DUQUE,...,NaN,NO,NO,NaN,NaN,NaN,SI,NaN,NaN,NaN
2,3,NaN,NaT,NaT,2014.0,2014-01-02,PS CALIPSO,ZORAIDA,DE JESUS,DELGADO,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
3,4,NaN,NaT,NaT,2014.0,2014-01-07,CS VALLADO,JULIA,ALICIA,MIRANDA,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
4,5,NaN,NaT,NaT,2014.0,2014-01-07,PS CALIPSO,MARIA,DEL SOCORRO,GIRALDO,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25845,25850,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25846,25851,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25847,25852,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25848,25853,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25849,25854,NaN,NaT,NaT,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
# Revisamos nuevamente la forma de nuestro DataFrame.
df.shape

(25850, 70)

In [159]:
# Eliminamos los registros de la fila 24,055 en adelante y quedamos con las 24,054 que contienen información de pacientes.
df.drop(range(24054, 25850), inplace=True)
df

,Consecutivo,1,2,Fehca de Inscripcion,AÑO,Fecha Ultima Atención,IPS,1_PrimerNombre,2_SegundoNombre,3_PrimerApellido,...,35_TFG,36_RcbeIECA,37_RcbeARA2,38_DxERC,40_FechaDxERC,41_ProgramAteERC (NEFROPROTECCION),ENDOSALUD,79_Novedad,80_CausaMuerte,81_FechaMuerte
0,1,NaN,NaT,NaT,2014.0,2014-01-02,PS COMUNEROS I,AQUILINO,NONE,MONDRAGON,...,44.839956,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
1,2,NaN,NaT,NaT,2014.0,2014-01-02,PS CALIPSO,LUIS,EDUARDO,DUQUE,...,NaN,NO,NO,NaN,NaN,NaN,SI,NaN,NaN,NaN
2,3,NaN,NaT,NaT,2014.0,2014-01-02,PS CALIPSO,ZORAIDA,DE JESUS,DELGADO,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
3,4,NaN,NaT,NaT,2014.0,2014-01-07,CS VALLADO,JULIA,ALICIA,MIRANDA,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
4,5,NaN,NaT,NaT,2014.0,2014-01-07,PS CALIPSO,MARIA,DEL SOCORRO,GIRALDO,...,NaN,NO,NO,NaN,NaN,NaN,NO,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24049,24054,NO,2016-08-22,2016-08-22,2016.0,2016-08-22,CS MANUELA,LUZ,DARI,TOVAR,...,NaN,NO,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24050,24055,NO,2016-08-09,2016-08-09,2016.0,2016-08-09,HOSPITAL,JOSE,BERNARDO,PAZ,...,119.863014,SI,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24051,24056,NO,2016-08-31,2016-08-31,2016.0,2016-08-31,HOSPITAL,FRAY,FERNANDO,VIRGEN,...,84.183007,NO,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24052,24057,NO,2016-08-23,2016-08-23,2016.0,2016-08-23,CS VALLADO,LUIS,HERNANDO,VASQUEZ,...,128.963415,NO,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24053,24058,NO,2016-08-18,2016-08-18,2016.0,2016-08-18,PS LAGOS,FABIAN,ALEXANDER,BURBANO,...,172.649573,NO,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
# Obtenemos información de los campos que trae el DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24054 entries, 0 to 24053
Data columns (total 70 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Consecutivo                                        24054 non-null  int64
 1   1                                                  2195 non-null   object
 2   2                                                  2790 non-null   datetime64[ns]
 3   Fehca de Inscripcion                               6999 non-null   datetime64[ns]
 4   AÑO                                                24054 non-null  float64
 5   Fecha Ultima Atención                              24054 non-null  datetime64[ns]
 6   IPS                                                24054 non-null  object
 7   1_PrimerNombre                                     24054 non-null  object
 8   2_SegundoNombre                                    23904 non-null  object
 9   3_PrimerApellido                                   24054 non-null  object
 10  4_SegundoApellido                                  24004 non-null  object
 11  5_TipoIdentificacion                               24054 non-null  object
 12  6_Identificacion                                   24054 non-null  float64
 13  7_FechaNac                                         24054 non-null  datetime64[ns]
 14  EDAD (Años cumplidos)                              24054 non-null  float64
 15  GRUPO EDAD                                         24054 non-null  object
 16  8_Sexo                                             24054 non-null  object
 17  9_Regimen                                          24054 non-null  object
 18  10_EPS                                             24054 non-null  object
 19  11_CodEtnia                                        18416 non-null  object
 20  12_GrupoPob                                        23710 non-null  float64
 21  METODO DE PLANIFICACION                            30 non-null     object
 22  13_CodMun                                          24054 non-null  float64
 23  14_Telefono                                        14666 non-null  object
 24  DIRECCION                                          109 non-null    object
 25  15_FechaAfilEPS                                    0 non-null      float64
 26  16_CodIPSsegto                                     24054 non-null  float64
 27  17_FechaINnefro                                    0 non-null      float64
 28  18_DxHTA                                           24054 non-null  object
 29  Clasificación HTA                                  4 non-null      object
 30  20_DxDM                                            24054 non-null  object
 31  Clasificación DM                                   0 non-null      float64
 32  22_EtiologiaERC                                    24054 non-null  object
 33  23_Peso                                            23069 non-null  float64
 34  24_Talla                                           23237 non-null  float64
 35  Indice Masa Corporal = Peso/talla Al Cuadrado      23237 non-null  float64
 36  Clasificación IMC                                  23237 non-null  object
 37  Sedentario                                         31 non-null     object
 38  Cigarrillo                                         31 non-null     object
 39  Sobrepeso                                          59 non-null     object
 40  Obesidad                                           56 non-null     object
 41  Alcohol                                            31 non-null     object
 42  Aliment inadecuada (sal, pocas frutas y verduras)  29 non-null     object
 43  25_TenArtSis                                       22956 non-null  object
 44  26_TenArtDitlica                                   22955 non-null  object
 45  CLASIFICACION FINAL DEL RIESGO                     24054 non-null  object
 46  27_Creatinina                                      16841 non-null  float64
 47  27_1_FechaCrea                                     16841 non-null  datetime64[ns]
 48  28_HemoGlicosilada                                 4991 non-null   object
 49  28_1_FechaHemoGlico                                4991 non-null   datetime64[ns]
 50  29_Albuminuria                                     12358 non-null  object
 51  29_1_FechaAlbnuria                                 12358 non-null  datetime64[ns]
 52  30_Creatinuria                                     367 non-null    float64
 53  30_FechaCreatinuria                                367 non-null    datetime64[ns]
 54  31_ColesterolTotal                                 16822 non-null  float64
 55  31_1_FechaCT                                       16822 non-null  datetime64[ns]
 56  32_HDL                                             16318 non-null  float64
 57  32_1_FechaHDL                                      16318 non-null  datetime64[ns]
 58  33_LDL                                             16355 non-null  object
 59  33_1_FechaLDL                                      16355 non-null  datetime64[ns]
 60  35_TFG                                             16499 non-null  float64
 61  36_RcbeIECA                                        24054 non-null  object
 62  37_RcbeARA2                                        24054 non-null  object
 63  38_DxERC                                           1 non-null      object
 64  40_FechaDxERC                                      0 non-null      float64
 65  41_ProgramAteERC (NEFROPROTECCION)                 0 non-null      float64
 66  ENDOSALUD                                          15087 non-null  object
 67  79_Novedad                                         0 non-null      float64
 68  80_CausaMuerte                                     1 non-null      object
 69  81_FechaMuerte                                     0 non-null      float64
dtypes: datetime64[ns](11), float64(21), int64(1), object(37)
memory usage: 12.8+ MB

In [161]:
df['8_Sexo'].value_counts()

8_Sexo
F    17431
M     6623
Name: count, dtype: int64

In [162]:
df['8_Sexo'].value_counts(normalize=True)

8_Sexo
F    0.724661
M    0.275339
Name: proportion, dtype: float64

In [163]:
# Creamos el label encoder para la columna '8_Sexo' y lo aplicamos al DataFrame.
labelencoder = LabelEncoder()
df['etiqueta_sexo'] = labelencoder.fit_transform(df['8_Sexo'])

In [164]:
# Revisamos la asignación de las etiquetas
print(df['8_Sexo'].head(5))
print(df['etiqueta_sexo'].head(5))

0    M
1    M
2    F
3    F
4    F
Name: 8_Sexo, dtype: object
0    1
1    1
2    0
3    0
4    0
Name: etiqueta_sexo, dtype: int32

In [165]:
df.rename(columns={'Indice Masa Corporal = Peso/talla Al Cuadrado': 'IMC', 'CLASIFICACION FINAL DEL RIESGO': 'CFR', 'EDAD (Años cumplidos)': 'EDAD'}, inplace=True)

In [166]:
# Revisamos variable de IMC
df['IMC'].tail(10)

24044     0.000000
24045     0.000000
24046          NaN
24047     0.000000
24048     0.000000
24049     0.000000
24050    27.343750
24051    21.338211
24052    26.448980
24053    33.746533
Name: IMC, dtype: float64

In [167]:
# Se imputa la media a registros con valores NaN
df['IMC'].fillna(df['IMC'].mean(), inplace=True)
df['IMC'].tail(10)

24044     0.000000
24045     0.000000
24046    27.835867
24047     0.000000
24048     0.000000
24049     0.000000
24050    27.343750
24051    21.338211
24052    26.448980
24053    33.746533
Name: IMC, dtype: float64

In [168]:
df.drop(df[df.IMC == 0].index, inplace=True)
df['IMC'].tail(10)

24030    27.835867
24038    27.835867
24039    27.835867
24041    27.835867
24042    27.835867
24046    27.835867
24050    27.343750
24051    21.338211
24052    26.448980
24053    33.746533
Name: IMC, dtype: float64

In [169]:
df_dum = pd.get_dummies(df, columns=['CFR'], prefix=['CFR_es'])
df_dum.dtypes

Consecutivo                      int64
1                               object
2                       datetime64[ns]
Fehca de Inscripcion    datetime64[ns]
AÑO                            float64
                             ...
etiqueta_sexo                    int32
CFR_es_ALTO                       bool
CFR_es_BAJO                       bool
CFR_es_MODERADO                   bool
CFR_es_MUY ALTO                   bool
Length: 74, dtype: object

In [170]:
# Revisamos datos nulos del DataFrame
# print(df.isnull().sum())
# print('------------------------------------')
# print(df['27_Creatinina'].isnull().sum())

In [171]:
# Utilizamos el método .describe() para obtener un resumen de la columna '27_Creatinina'. Vemos que tenemos 16,841 registros con datos, mientras que 7,213 registros no tienen datos (nulos).
# df['27_Creatinina'].describe()

In [172]:
# df['27_Creatinina'].fillna(df['27_Creatinina'].mean(), inplace=True)

In [173]:
# df['27_Creatinina']

In [174]:
# Variables predictoras
predictores = ['etiqueta_sexo','EDAD','IMC']
# Variable objetivo
objetivo= 'CFR_es_MUY ALTO'

#Recordemos que en nuestra variable Y va lo que queremos encontrar/predecir.
#Mientras en la vairable X van las variables que usaremos para encontrar a Y
y = df_dum[objetivo].values
X = df_dum[predictores].values

In [175]:
# Se crean los conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(19074, 3)
(4769, 3)
(19074,)
(4769,)

In [178]:
# Se crea el modelo utilizando la regresión logística
log_reg = LogisticRegression(solver='lbfgs',max_iter=1000)
# Se entrena el modelo y obtenemos el score
log_reg.fit(X_train, y_train)
log_reg.score(X_test, y_test)

0.9641434262948207